* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

.top {
  width: 100%;
  text-align: center;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 20px;
}

.search {
  width: 200px;
  height: 40px;
  padding-left: 10px;
}

.container {
  width: 100%;
}

.cards {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 60px;
  padding-top: 20px;
}

.card {
  width: 200px;
  height: 300px;
  background-color: #fefefe;
  border-radius: 10px;
}

.card img {
  width: 180px;
  height: 200px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.newPage {
  width: 120px;
  height: 40px;
  background-color: #47a04e;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 60px;
  margin-top: 10px;
}
