/* .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 200px;
  padding: 8px;
  height: 10px;
}
button {
  background-color: blue;
  border: none;
  color: white;
  font-size: 18px;
  margin-left: 10px;
  padding: 5px 30px;
  border-radius: 10px;
}

.item {
  font-size: 20px;
  color: black;
  background-color: blueviolet;
  width: 200px;
  text-align: center;
}

.newItem {
  display: flex;
  justify-content: center;
  width: 100%;
}

.deleteBtn {
  background-color: blue;
  border: none;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  width: 50px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  padding: 0;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h4 {
  font-size: 30px;
  margin-left: 20px;
  color: blueviolet;
}
.select-zone {
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
}

.dragZone {
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
}

.dragDiv {
  width: 80%;
  height: 50px;
  background-color: blueviolet;
  margin: auto;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
}
p {
  font-size: 24px;
}
