.modal {
  width: 400px;
  height: 500px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 20px;
  border-radius: 10px;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  color: black;
}

.x-btn {
  color: black;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main p {
  font-size: 17px;
  color: black;
}

.open-btn {
  padding: 20px 30px;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}
