* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.traffic-light {
  width: 100px;
  background: #333;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #111;
  margin: 0 auto;
  transition: background 0.5s;
}

.red.active {
  background: red;
}

.yellow.active {
  background: yellow;
}

.green.active {
  background: limegreen;
}
