* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}

.mid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bad-practice {
  width: 45%;
  height: 200px;
  margin-top: 70px;
  border-top: 6px solid red;
}

.alternative {
  width: 45%;
  height: 200px;
  border-top: 6px solid green;
  margin-top: 70px;
}

.bad-practice-top {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bad-practice-top h3 {
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.bad-practice-top i {
  font-size: 30px;
  color: red;
}

.bad-practice-mid {
  width: 95%;

  margin-top: 40px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  flex-direction: column;
}

.bad-practice-mid h3 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
/* --------------------------- */

.alternative-top {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.alternative-top h3 {
  font-size: 24px;
  font-weight: bold;
  color: green;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.alternative-top i {
  font-size: 30px;
  color: green;
}

.alternative-mid {
  width: 95%;

  margin-top: 40px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  flex-direction: column;
}

.alternative-mid h3 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* -------------------- */
.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  background: #f9f9f9;
  border-bottom: 3px solid #f0f0f0;
}

.accordion-content p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 10px;
  color: #333;
  line-height: 1.6;
}
