.main {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.all {
  width: 200px;
  height: 30px;
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
  padding: 10px;
  background-color: blueviolet;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  width: 200px;
}
