table{
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

th, td{
    border: 1px solid black;
}

th{
    background-color: black;
    color: white;
}

tfoot{
    text-align: center;
    background-color: black;
    color: white;
    
}