* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

body {
  background-color: #f5f4f9;
}
.record-box {
  width: 500px;
  background-color: #fdfcff;
  height: 220px;
  margin: auto;
  padding-left: 15px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.recordForm p {
  margin-bottom: 10px;
}

.all {
  width: 95%;
  margin-bottom: 10px;
  border: 2px solid #f5f4f9;
  height: 30px;
  padding-left: 10px;
}
.chekck {
  display: flex;
  align-items: center;
}

.chekck p {
  margin-top: 8px;
  margin-right: 5px;
}

.btn {
  width: 95%;
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #6165f1;
  color: white;
}

.card {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  border-radius: 6px;
  margin-right: 10px;
}
.container {
  width: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
