* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3 {
  position: absolute;
  right: 195px;
  top: 50px;
  font-size: 24px;
}

i {
  position: absolute;
  right: 150px;
  font-size: 30px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card {
  width: 300px;
  height: 370px;
  border-radius: 10px;
  border: 1px solid red;
}

.card-img {
  width: 100%;
  height: 300px;
}

.card-img img {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.card-btm {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.addBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}
