
@import './sccs/mixin.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(253, 248, 242, 1);
}

/* HEADER */

.header {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 88px;
}

.header-left img {
  width: 280px;
}

.header-right a {
  text-decoration: none;
  color: rgba(33, 31, 31, 1);
}

.header-right-ul {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right-btn-1 {
  padding: 10px 18px;
  border: solid solid rgba(33, 31, 31, 1);
  border-radius: 200px;
  color: rgba(33, 31, 31, 1);
  font-size: 16px;
  font-weight: 500;
}

.header-right-btn-2 {
  padding: 12px 18px;
  border-radius: 200px;
  border: solid solid rgba(33, 31, 31, 1);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 31, 31, 1);
}

/* BANNER AND ABOUT */

.banner-about {
  margin-top: 50px;
}

.webinar {
  width: 95px;
  height: 20px;
  font-size: 13px;
  font-weight: 500;
  background-color: rgba(242, 244, 247, 1);
  padding: 4px 12px;
  border-radius: 16px;
  margin: auto;
}

.banner-about h3 {
  font-size: 72px;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  width: 1000px;
  text-align: center;
  margin: auto;
}

.banner-about p {
  font-size: 20px;
  color: rgba(102, 112, 133, 1);
  width: 650px;
  text-align: center;
  margin: auto;
}

.button-box{
    @include flex(center, center);
    margin-top: 50px;
}

#learn-btn {
  border: 1px solid rgba(16, 13, 11, 1);
  border-radius: 200px;
  padding: 16px 28px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

#register-btn {
  border: 1px solid rgba(16, 13, 11, 1);
  border-radius: 200px;
  padding: 16px 28px;
  background-color: rgba(16, 13, 11, 1);
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.banner-about-img{
        @include flex(center, center);
        margin-top: 50px;
}

.banner-about-img img{
    width: 1000px;
}



// question

.question{
    width: 80%;
    height: 700px;
    @include flex(space-between, center);
    margin: auto;
}

.question-left{
    width: 610px;
    height: 280px;
}

.question-left-top{
width: 95%;
    height: 280px;
    border-top: 3px solid rgb(222, 82, 23);
    font-size: 48px;
      font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.question-left-top img{
  width: 30px;
  height: 31px;
  display: block;
    margin: 20px 0px;
}



.question-right{
    width: 610px;
    height: 265px;
}


.question-right-top{
width: 95%;
    height: 280px;
    border-top: 3px solid rgba(0, 124, 194, 1);
    font-size: 48px;
    margin-top: 100px;
      font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.question-right-top img{
  width: 30px;
  height: 31px;
  display: block;
    margin: 20px 0px;
}

// join-section

.join-section{
  width: 100%;
  height: 350px;
  background-color: rgba(254, 213, 1, 1);
  padding: 96px 32px;
}

.join-about{
  width: 100%;
  height: 220px;

}

.join-about h3{
  font-size: 50px;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  text-align: center;
}

.join-about-mid{
      display: flex
;
    justify-content: center;
    margin: 15px 0px;
}

.join-about-mid p{
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  width: 620px;
}

.join-about-bottom{
      display: flex
;
    margin-top: 20px;
}

.join-about-bottom button{
  padding: 12px 20px;
  background-color: rgba(33, 31, 31, 1);
  margin: auto;
  border-radius: 200px;
  border: none;
  color: rgba(255, 255, 255, 1);
}

// read-about

.read-about{
  width: 100%;
  height:720px;
  display: flex;

}

.read-about-left{
  width: 50%;
  height: 100%;
    padding: 96px 64px;
    @include flex (center,center)
}

.read-about-text{
  width: 575px;
  height: 260px;
  padding: 0px 32px;

}


.read-about-text-top{
width: 100%;
   @include flex(center, center)
}

.read-about-text-top p{
    padding: 4px 12px;
    background-color: #f0edea;
    border-radius: 16px;
    width: 85px;


}


.read-name{
    font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  font-size: 50px;  
  text-align: center;
  margin: 10px 0px;
}

.read-about-text-mid{
   @include flex(center, center)  
}



.read-about-text-mid p{
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  margin: 15px 0px;
}

.read-about-text-bottom{
     @include flex(center, center) 
}

.read-about-text-bottom button{
  padding: 12px 20px;
  border: none;
  border-radius: 200px;
  background-color:rgba(33, 31, 31, 1) ;
  color: rgba(255, 255, 255, 1);
  margin-top: 15px;
}


.read-about-right{
  width: 50%;
  height: 100%;
  background-image: url(img/lab-4img.jpg);
  background-position: center;
  background-size: cover;
}


// checkout-section


.checkout-section{
  width: 100%;
  margin-top: 80px;
}

.checkout-section-top{
  width: 80%;
  margin: auto;
}

.checkout-section-top h2{
  font-family: "Fraunces", serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
   font-variation-settings: "SOFT" 0, "WONK" 0;
   font-size: 50px;
   text-align: center;
}

.checkout-section-mid{
  width: 100%;
  height: 350px;
  margin-top: 50px;
  @include flex(space-around, center)
}

.checkout-section-mid-box{
  width: 385px;
  height: 348px;
  @include flex(center,center,column)
}

.checkout-section-mid-box-top{
  width: 330px;
  height: 220px;
    @include flex(center,center,)
}

.checkout-section-mid-box-top img{
width: 280px;
}


.checkout-section-mid-box-mid h2{
  font-family: "Fraunces", serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
   font-variation-settings: "SOFT" 0, "WONK" 0;
   font-size: 50px;
   text-align: center;  
   margin-bottom: 10px;
}

.checkout-section-mid-box-bottom p{
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}


#other-img{
  width: 175px;
}

// register-section

.register-section{
  width: 100%;
  height: 785px;
  margin-top: 100px;
  @include flex(center,center);
  padding: 96px 0px;
}

.register-section-left{
  width: 50%;
  height: 100%;
  @include flex(center,center)
}


.register-section-left-text{
  width: 575px;
  height: 416px;
}

.register-section-left-text-top img{
  width: 56px;
  height: 56px;
}


.register-section-left-text-mid p{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  font-size: 36px;
  margin: 40px 0px;
}


.register-section-left-text-bottom button{
  padding: 10px 18px;
  border-radius: 200px;
  color:rgba(255, 255, 255, 1) ;
  background-color: rgba(33, 31, 31, 1);
  border: 1px solid rgba(33, 31, 31, 1);
  font-size: 16px;
  font-weight: 500;
}






.register-section-right{
  width: 50%;
  height: 100%;
  background-image: url(img/lab-4img-5.jpg);
  background-position: center;
  background-size: cover;
}


// text-section

.text-section{
  width: 100%;
  height: 415px;
  padding: 96px 0px;
}

.text-section-box{
  width: 100%;
  height: 100%;
  @include flex(space-around,center)
}

.text-section-box-left{
  width: 50%;
  height: 100%;
}

.text-section-box-left-top{
  @include flex(center,center)
}

.text-section-box-left-top img{
  width: 48px;
  height: 48px;
}

.text-section-box-left-mid{
  @include flex(center,center)
}

.text-section-box-left-mid h2{
  width: 300px;
  font-size: 30px;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  text-align: center;
  color: rgba(16, 24, 40, 1);
  margin: 10px 0px;
}

.text-section-box-left-bottom{
    @include flex(center,center)
}

.text-section-box-left-bottom p{
  font-size: 16px;
  font-weight: 400;
  width: 420px;
  text-align: center;
  color: rgba(102, 112, 133, 1);
}
.text-section-box-right{
  width: 50%;
  height: 100%;
}

#create{
  width: 155px;
}

// calendar-section


.calendar-section{
  background-color: rgba(33, 31, 31, 1);
  width: 100%;
  height: 310px;
}

.calendar-section-top{
  width: 100%;
  height: 50%;
  position: relative;
}

.calendar-section-bottom{
  width: 100%;
  height: 50%;

}

.calendar-section-top-box{
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  @include flex(center,center);
    border-radius: 16px;
    position: absolute;
        top: -70px;
    left: 120px;
}

.calendar-section-top-box-item{
  width: 50%;
  height: 100%;
}

.item-1{
  @include flex(center,center);

}

.calendar-section-top-box-item h2{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  font-size: 30px;
  padding-left: 20px
}

.calendar-section-top-box-item-input{
  @include flex(null,center);
  margin-top: 30px;
}
.calendar-section-top-box-item-input input{
  width: 360px;
  height: 48px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  margin-right: 30px;
    padding-left: 10px;
}

.calendar-section-top-box-item-input button{
  border-radius: 200px;
  padding: 12px 20px;
  background-color: rgba(33, 31, 31, 1);
  color: rgba(255, 255, 255, 1);
  border: none;

}

.calendar-section-bottom{
  width: 80%;
  height: 50%;
  margin: auto;

  @include flex(center,center)
}


.calendar-section-bottom-left{
  width: 50%;
  height: 100%;
}


.calendar-section-bottom-left h2{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  color: rgba(164, 193, 77, 1);
  font-size: 60px;
}

.calendar-section-bottom-left p{
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  margin: 10px 0px;
}

.calendar-section-bottom-left button{
  padding: 8px 14px;
  border-radius: 200px;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(33, 31, 31, 1);
}

.calendar-section-bottom-right{
  width: 50%;
  height: 100%;
}

.calendar-section-bottom-right h3{
  color: rgba(255, 255, 255, 1);
    font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  font-size: 60px;
}

.calendar-section-bottom-right p{
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
}


// invite-section

.invite-section{
  width: 100%;
  height: 125px;
  margin-top: 100px;
}

.invite-section-box{
  width: 50%;
  height: 100%;
  margin: auto;
}

.invite-section-box h2{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  font-size: 50px;
  text-align: center;
}

.invite-section-box p{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  width: 650px;
  margin: auto;
}

.invite-section-img{
  width: 600px;
  height: 600px;
  @include flex(center,center);
  background-image: url(img/lab-4img-6.png);
  background-position: center;
  background-size: cover;
  margin: auto;
}

.invite-section-button{
  width: 100%;
  @include flex(center,center);
}

.invite-section-button button{
  padding: 12px 20px;
  background-color: rgba(16, 13, 11, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 200px;
  margin: 60px 0px;
}

//footer-section
.footer-section{
  width: 100%;
  height: 320px;
  background-color: rgba(0, 0, 0, 1);
}

.footer-section-box{
  width: 93%;
  height: 100%;
  margin-left: 100px;
}

.footer-section-top{
  width: 60%;
  height: 50%;
  padding-top: 50px;
}

.footer-section-top img{
  margin-bottom: 20px;
}

.footer-section-top-links{
  width: 80%;
  @include flex(space-between,center)
}

.footer-section-top-links a{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 16px;
}

.footer-section-bottom{
  width: 100%;
  height: 50%;
  border-top: 1px solid rgba(71, 84, 103, 1);
  @include flex(space-between,center)
}

.footer-section-bottom p{
  color: rgba(208, 213, 221, 1);
  font-size: 16px;
}

.footer-section-bottom-icons img{
  width: 24px;
  margin: 0px 10px;
}