* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.products {
  width: 50%;
  height: 100vh;
  border-right: 2px solid red;
  padding: 20px;
}

.card-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.favorites {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  width: 270px;
  height: 350px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #e6ecf0;
  margin-bottom: 20px;
}

.cardImg {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 20px;
}
.card p {
  font-size: 20px;
  font-weight: bold;
}
.card-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  margin-bottom: 20px;
}

.card-bottom i {
  font-size: 20px;
  color: #6b5959;
}

#price {
  margin-left: 30px;
}

.fav-btn:hover {
  color: rgb(255, 55, 0);
}

.fav-btn.active {
  color: rgb(255, 55, 0); /* hover rəngi qalır */
}
