.slider {
  width: 600px;
  height: 350px;
  position: relative;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 12px;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
