/* body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  margin-left: 10px;
  padding: 8px 15px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.textInput {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  border-radius: 10px;
  border: 3px solid black;
}

.itemDiv {
  margin-top: 10px;
}

.textP {
  width: 200px;
  border: 1px solid red;
  border-radius: 10px;
  height: 30px;
  padding-left: 10px;
  padding-top: 10px;
} */
