input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  font-size: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #4a7afe;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1e5bff;
}

.container {
  width: 350px;
  height: 300px;
  margin: auto;
}
